@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --brand-color: #996830;
  --dark: #2c2c2c;
  --gray: #d9d9d6;
  --white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
    font-size: 62.5%;
    min-height: 100%;
    width: 100%;
    font-family: "Outfit", sans-serif;
    color: var(--dark);
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white);
}
header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
    width: 100%;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
}
li:hover{
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-thickness: 0.2rem;
}
#logo{
    display: flex;
    align-items: center;
}
li{
    margin-left: 3rem;
    transition: all 0.3s ease;
}
a{
    text-decoration: none;
    color: inherit;
}
#link_contato{
    background-color: #996830;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--white);
}
#section_numberOne{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    min-height: 100vh; 
    padding-bottom: 3rem;
    margin-bottom: 15rem;
}
#grupo_textos_section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
}
.texto_section{
    font-size: 3rem;
}
h1{
    font-size: 6rem;
    margin-bottom: 1rem;
}
span{
    font-style: italic;
}
#galeria_imagens{
    margin-top: 3rem;
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
.imagens{
    width: 24%;
    height: 100%;
    display: flex;
}
.imagem_cima{
    align-items:baseline;
}
.imagem_baixo{
    align-items:end;
}
.imagens > img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
#section_numberTwo{
    display: flex;
    justify-content: space-between;
    min-height: 60vh; 
    margin-bottom: 15rem;
}
.divisao_numberTwo{
    display: flex;
    width: 50%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    background-color: #ffffff;
}
.risquinho{
    width: 5rem;
    height: 2px;
    background-color: var(--brand-color);
}
.titulo_topicos{
    display: flex;
    align-items: center;
    color: #996830;
    font-size:1.2rem;
}
h2{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    margin-left: 2rem;
}
.caixa_titulo{
    width: 100%;
    margin-top: 1rem;
    font-size:  5rem;
    font-family: "Playfair Display", serif;
}

#texto_sectionTwo{
    margin-top: 1rem;
    width: 100%;
    font-size:  2rem;
    text-align: left;
}
#imagens_sectionTwo{
    display: flex;
    height: auto;
    justify-content: space-between;
}
.imagensTwo{
    width: 48%;
    min-height: 60vh;
    display: flex;
    align-items: baseline;
}
.imagemTwoTwo{
    align-items: end;
}
.imagensTwo img {
    width: 100%;
    height: 90%; 
    object-fit: cover;
}
#section_numberThree{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
.imagensLateral{
    margin-top: 5rem;
    width: 100%;
    height: auto; 
    object-fit: cover;
}
h3{
    font-family: "Playfair Display", serif;
    font-size:  3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.texto_lateral{
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-family: "Outfit", sans-serif;
    font-size: 1.65rem;
    width: 100%;
    text-align: justify;
}
.imagem3{
    width: 100%;
    height: auto; 
    object-fit: cover;
}
.divisao_numberThree{
    width: 48%;
    height: auto;
}
footer{
    font-size: 2rem;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icone_redeSocial{
    border-radius: 100%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    transition: brightness 0.5 ease;
}
.icone_redeSocial:hover{
    filter:brightness(0.5);
}
#grupo_itens_footer{
    display: flex;
    align-items: center;
}
#grupo_itens_footer > p{
    margin-right: 2rem;
}
#bloco_texto2{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
@media (max-width: 1130px) {
    h1{
        font-size: 5rem;
    }
    .texto_section{
        font-size: 2.5rem;
    }
    .caixa_titulo{
        font-size: 4rem;
    }
    #texto_sectionTwo{
        font-size: 1.6rem;
    }
    .titulo_topicos{
        font-size: 1rem;
    }
    footer {
        font-size: 1.6rem;
    }
    .texto_lateral{
        font-size: 1.6rem;
    }
    h3 {
        font-size: 2.5rem;
    }

}
@media (max-width: 940px) {
    h1{
        font-size: 4rem;
    }
    .texto_section{
        font-size: 2rem;
    }
    .caixa_titulo{
        font-size: 3rem;
    }
    #texto_sectionTwo{
        font-size: 1.2rem;
    }
    .titulo_topicos{
        font-size: 1rem;
    }
    footer {
        font-size: 1.2rem;
    }
    .texto_lateral{
        font-size: 1.2rem;
    }
    h3 {
        font-size: 2rem;
    }
    .risquinho{
        width: 2.5rem;
    }

}
@media (max-width:750px){
    h1{
        font-size: 3.5rem;
    }
    .texto_section{
        font-size: 1.8rem;
    }

    #conectarTxt{
        display: none;
    }
    #ultimo_risquinho{
       display: none;
    }
    footer{
        justify-content: center;
    }
    .imagemTwoTwo{
        display: none;
    }
    .imagensTwo {
        width: 100%;
    }
    .imagens{
        width: 32.33%;
    }
    #ultima_imagem{
        display: none;
    }
}
@media (max-width:750px){
    h1{
        font-size: 3rem;
    }
    .texto_section{
        font-size: 1.6rem;
    }
}
@media (max-width:620px){
    #section_numberTwo{
        flex-direction: column;
       
    }
    .divisao_numberTwo{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #imagens_sectionTwo{
        width: 80%;
    }
    #texto_sectionTwo{
        margin-bottom: 1.2rem
    }
    
}

@media (max-width:600px){
    h1{
        font-size: 2.8rem;
    }
    .texto_section{
        font-size: 1.4rem;
    }
    #penultima_imagem{
        display: none;
    }
    .imagens{
        width: 49%;
    }
    header{
        width: 60%;
        font-size: 1.2rem;
    }
    main{
        width: 80%;
    }
}
@media (max-width:530px){
    #section_numberThree{
        flex-direction: column;
    }
    .divisao_numberThree{
        width: 100%;
    }
    header{
        font-size: 1.2rem;
        width: 100%;
    }
    header > div{
        justify-content:center;
        padding: 2rem;
    }
    h1{
        font-size: 2.4rem;
    }
    .texto_section{
        font-size: 1.2rem;
    }
    #section_numberOne{
        padding-top: 2.5rem;
        padding-bottom:1.5rem;
        margin-bottom:7.5rem;
    }
    #section_numberTwo{
        margin-bottom: 7.5rem;
    }
}
@media (max-width:450px){
    #link_contato{
        padding: 0px;
        background-color: var(--white);
        color: var(--dark);
    }
    header > div{
        flex-direction: column;
    }
   #logo{
        margin-bottom: 1.2rem;
   }
   h1{
    font-size: 2rem;
   }
   .texto_section{
        font-size: 1rem;
    }
    .caixa_titulo{
        font-size: 2.5rem;
    }
    footer{
        flex-direction: column;
    }
    #nome_site{
        margin-bottom: 1.2rem;
    }
}
